# Node
node_modules/

# Build
dist/
build/
out/

# Logs
*.log

# Environment
.env

# Cache
.cache/

# VS Code
.vscode/

# npm
npm-debug.log*

# Uploads
public/uploads/
uploads/

# Electron
release/
D-drive All# FULL-D_Drive-Projrct
