.text-container {
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide the overflowing text */
  position: relative;
   /* background-color: red;  */
  height: 50px; 
  display: flex;
  align-items: center;
}

.moving-text {
  display: inline-block;
  width: 100%; /* Full width of the container */
  white-space: nowrap; /* Prevent text wrapping */
  position: absolute; /* Allow the text to move independently */
  animation: moveLeft 30s linear infinite; /* Define the animation */
  font-size: 20px; /* Optional font size */
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%); /* Start completely off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End completely off-screen to the left */
  }
}
