# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
build/
*/dist/
*/build/

# Environment variables
.env
.env.*
*/.env
*/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Misc
.eslintcache
.npm
coverage/
*/coverage/
*.local

# Backend specific
Backend/public/temp/
Backend/public/uploads/

# Frontend specific
Frontend/.eslintrc.cjs

# Deployment files
.vercel
.netlify