@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}


.wave-line {
  position: absolute;
  height: 4px;
  /* width: 30px; */
  /* background:rgb(108, 199, 226); */
  opacity: 0.8;
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 6px ; */

  animation: wave 3s ease-in infinite;
}

@keyframes wave {
  from {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(10%);
  }
}

.animate-wave-delay {
  animation-delay: 1.5s;
}
